.new-comment-form {
  margin: 20px 0;
  padding: 10px;
  background: lightgray;
  box-shadow: 0 0px 15px black;
  color: black;
}

input[type=text] {
  background-color: white;
}

.commentOrCancel {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 48%;
  }
}
